@page "/"
@using Core.Utilities
@using System.Collections.Generic
@using System.Linq

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<ul>
    @foreach (var item in items)
    {
        <li>@item</li>
    }
</ul>

@code {
    private int currentCount = 0;
    private List<string> items = new List<string>();
    protected override async Task OnInitializedAsync()
    {

        var generator = new ShipGenerator();
        var ships = generator.Generate();

        items = ships.Select(ship => ship.Name).ToList();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
