@using Client.Models
@using static Core.Models.CoordinatesHelper
@using Core.Models.Ships

<div class="col table-cell @CellStateClass" @onclick=@OnMarked>
    <span class="@IconName" style="vertical-align:middle; color:@Color;" aria-hidden="true"></span>
</div>

@code {
    [Parameter]
    public CellType Type { get; set; }
    [Parameter]
    public Column Column { get; set; }
    [Parameter]
    public int Row { get; set; }
    [Parameter]
    public Color Color { get; set; }
    [Parameter]
    public CellState CellState { get; set; } = CellState.None;
    [Parameter]
    public EventCallback<CoordEventArgs> OnClicked { get; set; }

    private string CellStateClass => CellState switch
    {
        CellState.Disabled => "is_disabled",
        CellState.Waiting => "is_waiting",
        CellState.None => string.Empty,
        _ => string.Empty
    };

    private string IconName => Type switch
    {
        CellType.None => String.Empty,
        CellType.Flag => "oi oi-flag",
        CellType.X => "oi oi-x",
        CellType.Target => "oi oi-target",
        _ => String.Empty
    };

    public async void OnMarked()
    {
        if (CellState != CellState.None || !OnClicked.HasDelegate)
            return;

        await OnClicked.InvokeAsync(new CoordEventArgs(Column, Row));
    }
}