@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Core.Utilities
@inject NavigationManager NavigationManager
@implements IDisposable

<hr>
<h1>Opponent board</h1>

<Board />

<hr>
<h1>Your board</h1>
<Board />

@code {
    private HubConnection hubConnection;
    private List<string> items = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var generator = new ShipGenerator();
        var ships = generator.Generate();

        items = ships.Select(ship => ship.Name).ToList();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();
@* 
        hubConnection.On<string, string>("CoordinateMarked", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        hubConnection.On<string, string>("GameFinished", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        hubConnection.On<string, string>("OpponentReady", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        }); *@

        await hubConnection.StartAsync();
    }

    @* Task Send() =>
        hubConnection.SendAsync("SendMessage", userInput, messageInput); *@

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }
}