@page "/"
@using Core.Utilities
@using Core.Models.Ships
@using Core.Models
@using BlazorApp.Client.Components

@* <hr>
<h1>Opponent board</h1> *@

@* <OpponentBoard /> *@

<hr>

<hr>
<Setup />
@* <h1>Your board</h1> *@
@* <PlayerBoard GameMode=@GameMode.Setup OnAllShipsMarked=@OnAllShipsMarked /> *@

@code {
    private bool IsAllShipsMarked;
    private List<string> items = new List<string>();

    public List<IShip> ships = new List<IShip>();

    protected override async Task OnInitializedAsync()
    {
        var generator = new ShipGenerator();
        ships = generator.Generate().ToList();

        items = ships.Select(ship => ship.Name).ToList();
    }

    public void OnAllShipsMarked(Models.AllShipsMarkedEventArgs eventArgs)
    {
        IsAllShipsMarked = true;
        StateHasChanged();
        // TODO: Sen api call, all ships are marked    
    }
}