.table-cell {
  /*For mobile view... add responsive breakpoints here..*/
  max-width: 32px !important;
  min-height: 32px;
  border: 1px solid grey;
  padding: 0px;
  text-align: center;
  cursor: pointer;
}

.table-cell-column {
  /*For mobile view... add responsive breakpoints here..*/

  max-width: 32px !important;
  padding: 0;
  text-align: center;
}

.table-cell-row {
  /*For mobile view... add responsive breakpoints here..*/

  max-width: 32px !important;
  padding: 0;
  align-self: center;
  text-align: left;
}
